name: C CI

on:
  push:
    paths-ignore: 
      - '.github/**'
      - 'tools/**'
    tags-ignore:
      - "**"
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Build ${{ matrix.artifact_name }} 
    runs-on: windows-latest
    strategy:
      matrix:
        include:
          - script: build.bat
            artifact_name: breeze-cl
          - script: buildw.bat
            artifact_name: breezew-cl
    steps:
    - uses: actions/checkout@v4
    - name: Enable Developer Command Prompt
      uses: ilammy/msvc-dev-cmd@v1.13.0
    - name: Build
      shell: cmd
      run: ${{ matrix.script }}
    - name: Select Time Zone
      uses: szenius/set-timezone@v2.0
    - name: Prepare Artifact Name
      shell: pwsh
      run: echo "BUILD_TAG=$(git log -1 --format="%h--%ad" --date=format-local:"%Y-%m-%d-%H%M%S")" >> $env:GITHUB_ENV
    - name: Upload Artifact
      uses: actions/upload-artifact@v4.3.4
      with:
        name: breeze-${{ env.BUILD_TAG }}
        path: breeze*.exe
